body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  input{
    height: 48px;
    flex-shrink: 0;
    border-radius: 5px;
    background-color: #FFF;
    box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.05);
    outline: none;
    background-image: url('./search.svg');
    background-repeat: no-repeat;
    background-position: 15% 50%;
    padding-left: 74px;
    padding-right: 85px;
    border: none;
  }
  
  .smn{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .menu{
    display: flex;
    flex-direction: column;
    margin-left: 24px;
  }
  .menuu{
    display: flex;
    flex-direction: column;
    margin-left: 24px;
  }
  
  .brgr{
    display: flex;
    align-items: center;
    width: 200px;
    gap: 62px;
    height: 48px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.05);
  }
  
  .chamonatvali{
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    width: 200px;
    height: 144px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.05);
    position: absolute;
    top: 175px;
    left: 24px;
  }
  
  .name{
    color: #111517;
    font-family: "Nunito Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 26px; /* 144.444% */
    margin-bottom: 16px;
  }
  
  span{
    font-weight: 300;
  }
  
  .info{
    color: #111517;
    font-family: "Nunito Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px; /* 114.286% */
    margin-bottom: 8px;
  }
  
  .list{
    color: #111517;
    font-family: "Nunito Sans";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    width: 50px;
    cursor: pointer;
  }
  
  .cards{
    border-radius: 50%;
    background: #FFF;
    box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.03);
  }
  
  .bottom{
    padding: 24px 0 46px 24px;
  }

@media (width >=1440px){
  input{
    color: #848484;
    font-family: "Nunito Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
  }
  .saerto{
    margin-top: 48px;
    display: flex;
    gap: 600px;
    justify-content: center;
    align-items: center;
  }
  .chamonatvali{
    left: 1090px;
    top: 188px;
    width: 200px;
    height: 164px;flex-shrink: 0;
  }
  .brgr{
    width: 200px;
    height: 56px;
    flex-shrink: 0;
  }
  .menuu{
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin-top: 48px;
    row-gap: 67px;
  }
}